html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: #212529;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

img {
  max-width: 100%;
  border: none;
  height: auto;
}

ul {
  padding-left: 0;
}

.flex-center {
  align-items: center;
}

.row-margin {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: var(--bs-gutter-x);
  margin-top: calc(-0.5 * var(--bs-gutter-y));
  margin-bottom: calc(-0.5 * var(--bs-gutter-y));
}

.row-margin > * {
  margin-top: 0;
  padding-top: calc(var(--bs-gutter-x) * 0.5);
  padding-bottom: calc(var(--bs-gutter-x) * 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-top: 0;
}

.row-reverse {
  flex-direction: row-reverse;
}

.dl_dl {
  overflow: hidden;
}

.dl_dl .dl-banner {
}

.dl_dl .dl-banner .banner-slider {
}

.dl_dl .slick-prev {
  left: 10px;
  width: 50px;
  height: 50px;
  background: #fff;
  /* background: #070b1a; */
  border-radius: 100%;
  z-index: 1;
}

.dl_dl .slick-next {
  right: 10px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 100%;
  z-index: 1;
}

.dl_dl .slick-prev::before {
  color: #fff;
  font-weight: bold;
  opacity: 1;
  content: url('./imgs/arrowLeft.svg');
}

.dl_dl .slick-next::before {
  color: #fff;
  font-weight: bold;
  opacity: 1;
  content: url('./imgs/arrowRight.svg');
}

.dl_dl .dl-white {
  background-color: white;
  z-index: 2;
  position: relative;
}

.dl_dl .dl-white > section {
  padding: 40px 0;
  position: relative;
}

.dl_dl .dl-white .dl-choose {
}

.dl_dl .dl-white .dl-wrapper {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.dl_dl .dl-white .dl-choose .dl-body {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.dl_dl .dl-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.dl_dl .dl-white .dl-title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #243783;
}

.dl_dl .dl-white .dl-title span {
  color: #e64d4e;
}

.dl_dl .dl-white .dl-choose .dl-title {
  text-align: left;
  margin-bottom: 32px;
}

.dl_dl .dl-white .dl-choose .dl-bg {
  background-image: url(./imgs/bg1.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.dl_dl .dl-choose .dl-bg,
.dl_dl .dl-condition .dl-bg {
  position: relative;
  z-index: 1;
  width: 114%;
}

.dl_dl .dl-choose .dl-img {
  position: absolute;
  bottom: 10%;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dl_dl .dl-list {
  background: #ffffff;
  position: relative;
  z-index: 2;
  font-size: 18px;
  border-radius: 24px;
  box-shadow: 258px 152px 120px rgba(0, 0, 0, 0.01),
    145px 86px 101px rgba(0, 0, 0, 0.05), 64px 38px 75px rgba(0, 0, 0, 0.09),
    16px 10px 41px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  padding: 32px 24px;
}

.dl_dl .dl-choose .dl-list svg {
  position: absolute;
  right: 0;
  bottom: calc(100% + 40px);
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  transform-origin: top right;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation-fill-mode: both;
  animation-name: arrow;
}

.dl_dl .dl-list ul {
  padding-left: 0;
  margin-bottom: 1rem;
  margin-top: 0;
}

.dl_dl .dl-list ul li {
  list-style: none;
  margin-bottom: 16px;
  position: relative;
  display: flex;
}

.dl_dl .dl-list ul li::before {
  content: '';
  width: 30px;
  height: 30px;
  background-image: url(./imgs/iconlist.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  margin-right: 16px;
  flex-shrink: 0;
}

.dl_dl .dl-white .dl-click {
  background: #e64d4e;
  box-shadow: 32px 57px 26px rgba(231, 33, 39, 0.01),
    18px 32px 22px rgba(231, 33, 39, 0.05),
    8px 14px 16px rgba(231, 33, 39, 0.09), 2px 4px 9px rgba(231, 33, 39, 0.1),
    0px 0px 0px rgba(231, 33, 39, 0.1);
  border-radius: 40px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  padding: 13px 38px;
  display: block;
  width: fit-content;
  margin: 27px auto 0;
  border: 1px solid #e64d4e;
}

.dl_dl .dl-white .dl-click:hover {
  background: #fff;
  color: #e64d4e;
}

.dl_dl .dl-white .dl-subjects {
  background: #b0d9dc26;
}

.dl_dl .dl-white .dl-subjects .dl-title {
  margin-bottom: 64px;
}

.dl_dl .dl-subjects .dl-imgs .dl-bg {
  background-image: url(./imgs/bg2.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  width: 120%;
}

.dl_dl .dl-white .dl-bg img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.dl_dl .dl-white .dl-subjects .dl-body {
  display: flex;
  align-items: center;
}

/* admission */
.dl_dl .dl-white .dl-admission {
  background: #b0d9dc26;
}

.dl_dl .dl-white .dl-admission .dl-title {
  margin-bottom: 80px;
}
.dl_dl .dl-white .dl-admission .dl-item-area {
  padding: 0 86px;
}

.dl_dl .dl-white .dl-admission .dl-item {
  background: #ffffff;
  border-radius: 16px;
  padding: 24px 32px;
}

.dl_dl .dl-white .dl-admission .dl-label {
  background: rgba(89, 118, 123, 0.1);
  border-radius: 16px;
  font-weight: 700;
  font-size: 32px;
  color: #243783;
  margin-bottom: 32px;
  text-align: center;
  padding: 4px;
}

.dl_dl .dl-admission .dl-item .dl-item-content h3 {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 16px;
}

.dl_dl .dl-admission .dl-item .dl-item-content ul li {
  list-style: none;
  margin-bottom: 16px;
  position: relative;
  display: flex;
}

.dl_dl .dl-admission .dl-item .dl-item-content ul li::before {
  content: '';
  width: 30px;
  height: 30px;
  background-image: url(./imgs/iconlist.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  margin-right: 16px;
  flex-shrink: 0;
}

.dl_dl .dl-admission .dl-item .dl-img img {
  border-radius: 24px;
}

.dl_dl .dl-condition .row {
  flex-direction: row-reverse;
}

.dl_dl .dl-condition .dl-bg {
  background-image: url(./imgs/bg3.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.dl_dl .dl-condition .dl-list ul li::before {
  background-image: url(./imgs/iconlist2.svg);
}

/* feel  */

.dl_dl .dl-feel {
  background-image: url(./imgs/back-2.png);
}

.dl_dl .dl-feel::before {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.dl_dl .dl-feel::after {
  background: #243783;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.dl_dl .dl-feel img {
  height: 100%;
  border-radius: 16px;
}

.dl_dl .dl-feel .dl-box-cmt {
  position: relative;
  height: 100%;
  z-index: 1;
}

.dl_dl .dl-feel .dl-box-text {
  background: #ffffff;
  height: max-content;
  border-radius: 13px;
  padding: 32px;
  font-weight: 500;
  min-height: calc(100% - 127px);
  font-size: 18px;
}

.dl_dl .dl-feel .dl-cmt-icon {
  height: 52px;
  margin: 0 auto 22px;
  display: block;
}

.dl_dl .dl-feel .dl-chat-icon {
  position: absolute;
  bottom: 0;
  right: 30px;
  z-index: -1;
}

.dl_dl .dl-feel .dl-body {
  text-align: center;
  max-width: 636px;
  margin: 0 auto;
}

.dl_dl .dl-feel .dl-body {
  color: #fff;
}

.dl_dl .dl-feel .dl-title {
  color: #fff;
  margin-bottom: 52px;
}

.dl_dl .dl-feel .dl-body .dl-name {
  font-weight: 800;
  font-size: 20px;
  margin-top: 10px;
}

.dl_dl .dl-feel .dl-body .dl-address {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 13px;
}

.dl_dl .dl-feel .dl-body .dl-program {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
}

.dl_dl .dl-feel .dl-wrapper {
  position: relative;
  z-index: 1;
}
/*  */
.dl_dl .dl-register {
  background-image: url(./imgs/Artboard-2-2.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 40px 0;
}

.dl_dl .dl-register .dl-title {
  margin: 0 auto 40px;
  max-width: 732px;
}

.dl_dl .dl-register .dl-form {
  background: #ffffff;
  border: 1px solid #67a0a74d;
  position: relative;
  box-shadow: 0px 293px 117px #ababab03, 0px 165px 99px #ababab0d,
    0px 73px 73px #ababab17, 0px 18px 40px #ababab1a, 0px 0px 0px #ababab1a;
  padding: 48px;
  max-width: 732px;
  margin: 0 auto;
  border-radius: 16px;
}

.dl_dl .dl-register .dl-form svg {
  position: absolute;
  left: calc(100% - 25px);
  bottom: calc(100% - 15px);
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  transform-origin: top right;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation-fill-mode: both;
  animation-name: arrow;
}

.dl_dl .dl-register .dl-form form {
  padding: 5px;
  max-width: 1000px;
  margin: 0 auto;
}

.dl_dl .dl-register .dl-form form .form-ips {
  display: flex;
  flex-wrap: wrap;
  margin: -12px;
}

.dl_dl .dl-register .dl-form form .form-ip {
  padding: 12px;
  width: 50%;
}

.dl_dl .dl-register .dl-form form .form-ip input {
  width: 100%;
  height: auto;
  vertical-align: inherit;
  font-size: 16px;
  margin: 0;
  padding: 12px;
  outline: none;
}

.dl_dl .dl-register .dl-form form input:not([type='button']) {
  background: #f7f7f7;
  border: 1px solid #c4c4c4;
  border-radius: 0;
  box-shadow: none;
  color: #787878;
  transition: all 0.5s;
}

.dl_dl .dl-register .dl-form form input:not([type='submit']) {
  background: #f1f1f1 !important;
  border: 1px solid #dfdfdf !important;
  border-radius: 8px !important;
  height: 52px !important;
}

.dl_dl .dl-register .dl-form form .form-submit {
  display: block;
  margin: 0 auto;
  padding: 12px;
  width: 50%;
}

.dl_dl .dl-register .dl-form form .form-submit input {
  background: #e64d4e;
  box-shadow: 32px 57px 26px #e64d4e03, 18px 32px 22px #e64d4e0d,
    8px 14px 16px #e64d4e17, 2px 4px 9px #e64d4e1a, 0px 0px 0px #e64d4e1a;
  font-weight: 800;
  font-size: 20px;
  color: #ffffff;
  padding: 18px 15px;
  width: 100%;
  line-height: normal;
  text-transform: uppercase;
  height: auto;
  border-radius: 40px;
}

.dl_dl .dl-register .dl-form form .form-submit input:hover {
  background: #c4c4c4;
  color: #787878;
  transition: all 0.5s;
}

/*  */

.dl_dl .dl-footer {
  background: #243783;
  color: #fefefee6;
  position: relative;
  z-index: 2;
}

.dl_dl .dl-footer .dl-a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dl_dl .dl-footer .dl-a img {
  max-height: 60px;
}

.dl_dl .dl-footer .footer-title {
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 16px;
}

.dl_dl .dl-footer a {
  color: #fefefee6;
}

/* RESPONSIVE */

@media screen and (min-width: 576px) {
  .dl_dl .dl-white .dl-wrapper {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .dl_dl .dl-white .dl-wrapper {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .dl_dl .dl-white .dl-wrapper {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .dl_dl .dl-white .dl-wrapper {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .dl_dl .dl-white .dl-wrapper {
    max-width: 1200px;
  }
}

/*  */

@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .dl_dl .dl-choose .dl-list svg {
    height: 70px;
    top: -30px;
    bottom: unset;
  }
  .dl_dl .dl-white .dl-choose .dl-title {
    text-align: center;
  }
  .dl_dl .dl-white .dl-title {
    font-size: 24px;
  }

  .dl_dl .dl-list {
    padding-top: 50px;
    font-style: 14px;
  }

  .dl_dl .dl-choose .dl-bg,
  .dl_dl .dl-subjects .dl-imgs .dl-bg,
  .dl_dl .dl-condition .dl-bg {
    width: 100%;
  }

  .dl_dl .dl-white .dl-admission .dl-item-area {
    padding: 0;
  }

  .dl_dl .dl-white .dl-wrapper {
    padding-right: 0;
    padding-left: 0;
  }
  .dl_dl .slick-prev,
  .dl_dl .slick-next {
    opacity: 0.3;
  }

  .dl_dl .dl-register .dl-form {
    padding: 48px 16px 16px;
  }

  .dl_dl .dl-register .dl-form svg {
    left: unset;
    height: 110px;
    bottom: unset;
    top: -60px;
    right: 0;
  }

  .dl_dl .dl-register .dl-form form .form-ip {
    width: 100%;
  }
}

@media screen and (max-width: 1399px) {
  .dl_dl .dl-choose .dl-list svg {
    bottom: 100%;
  }
}

/* ANIMATION */

@keyframes arrow {
  0% {
    transform: rotate(-10deg) translate(5px, 5px);
  }
  100% {
    transform: rotate(0) translate(0);
  }
}
